/*
CSS for the CS142 project #4 main page

Since CSS uses a global name space for classes we should use class names starting with
cs142-main- here.
*/
.myheader {
  background-color: lightblue;
  border: 2px solid blue;
  text-align: center;
}

.p5toolbar {
  background-color: lightblue;
  border: 2px solid lightblue;
}

table, th, td {
    background-color: lightblue;
    color: purple;
    border: 1px solid lightblue;
    border-collapse: collapse;
    text-align: center;
}
